@import "../variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $gutter;
  margin-top: $gutter;
}

.title {
  @include h2;
}

.samples {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: $gutter;
  gap: $gutter / 2;
}

.versus {
  color: $primary;
}
