@import "../variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $gutter;
}

.title {
  @include h2;
}

.results {
  display: flex;
  flex-direction: column;
  gap: $gutter / 3;
  margin-top: -$gutter / 2;
  margin-bottom: $gutter;
}

.winner {
  color: $secondary;
  font-weight: bold;

  &:before {
    content: "🏆";
    margin-right: 4px;
  }
}

.startOver {
  @include primary-button;
}
