@use "sass:color";
@use "../variables" as *;

.sample {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $gutter;
  align-items: center;
  padding: 5vw;
  background: color.mix($base, $secondary, 90%);
  border: 1px solid $secondary;
  border-radius: 12px;

  @media screen and (max-width: 600px) {
    padding: $gutter;
  }

  @media screen and (min-width: 1200px) {
    padding: $gutter * 3;
  }

  &.winner {
    background: $primary;
  }
}

.playbackControls {
  display: flex;
  gap: 6px;
}

.playbackButton {
  @include primary-button;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 5px;

  &.isActive {
    background: $primary;
  }
}

.backButtonPipe {
  position: relative;
  bottom: 3px;
  font-size: 11px;
}

.voteButton {
  @include secondary-button;
}

.speakerIcon {
  position: absolute;
  top: calc($gutter / 2);
  right: calc($gutter / 2);
  width: 24px;
  height: 24px;

  path {
    stroke: $primary;
  }
}
