$base: #080708;
$base-inverse: #d6ddd8;
$primary: #569787;
$secondary: #576190;
$tertiary: #75485e;

$gutter: 24px;

.button {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 4px;
  letter-spacing: 0.3;

  &:hover {
    cursor: pointer;
  }
}

@mixin h1 {
  font-size: 32px;
  font-weight: bold;
  color: $primary;
}

@mixin h2 {
  font-size: 18px;
  color: $primary;
  font-weight: bold;
}

@mixin primary-button {
  @extend .button;
  background: $secondary;
  color: $base-inverse;

  &:hover {
    background: darken($secondary, 10%);
  }
}

@mixin secondary-button {
  @extend .button;
  background: transparent;
  border: 1px solid $secondary;
  color: $secondary;

  &:hover {
    background: rgba($secondary, 0.3);
  }
}
